/* 
  初始化样式文件
*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
ul,
ol,
li,
img,
input,
a,
p,
span,
i,
em,
strong,
dl,
dt,
dd,
table,
tbody,
thead,
tfoot,
audio,
video,
header,
section,
main,
article,
aside,
nav,
footer {
  margin: 0;
  padding: 0;
}

// 取消滚动条的默认样式
body,
html {
  height: 100%;
  width: 100%;
  // 将移除的内容进行隐藏
  // overflow: hidden;

  font-family: "Mcrosoft YaHei", "STHeiti", "SimSun", "KaiTi";
}

html {
  // 初始化字体大小，为了有利于使用rem单位进行布局
  font-size: 100px;
}

//清除a标签默认样式

a {
  color: #000;
  //去掉a标签在移动端点击背景颜色
  -webkit-tap-highlight-color: none;
  outline-color: none;
  text-decoration: none;
}

//重置img 标签 底部出现3px空白间隙

img {
  vertical-align: middle;
  border: 0 none;
}

//清除input标签点击时外轮廓高亮
input {
  outline-color: none;
}

// 清除列表前的小黑点

ul,
li {
  list-style: none;
}

//重置i,em标签字体类型
i,
em {
  font-family: normal;
}

// 清除浮动

.clearfix {
  //只有IE能够识别
  *zoom: 1;
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  height: 0;
}

// html5 新增的语义化标签需要转换成块级标签
header,
nav,
section,
main,
article,
aside,
footer {
  display: block;
}